#nav-id {
    background-color: rgb(180, 243, 151);
    height: 3.2em;
    font-size: 1.4em;
    /* text-align: center; */
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 1em 0;
}

#header-id .bg-image {
    position: absolute;
    /* showcase div me fit krna*/
    background: #333 url('assets/pexels.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* behind the text*/
    opacity: 0.4;
}

#header-id h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#header-id .content-wrap {
    padding: 0 1.5em;
}

#section-a {
    background: #eaeaea;
    padding-bottom: 2em;
}

#section-a .content-wrap {
    padding: 0 1.5em;
}

#section-b {
    padding: 2em 1em 1em;
}

#section-b .card {
    margin-bottom: 1em;
    background: #fff;
}

.card-content {
    padding: 1.5em;
}

#section-c .bg-image {
    position: absolute;
    background: #333 url('table-tennis.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.4;
}

.hobby-card h4 {
    padding-top: 0.1;
    /* margin-top: 0%; */
    margin-bottom: 0%;
}

#main-footer {
    color: blue;
    text-decoration: none;
    background-color: #eaeaea;
    margin-top: 10%
}

a {
    color: blue;
}

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .content-wrap,
    #section-b .card {
        grid-column: 1/4;
    }
    #nav-id {
        height: 2.5em;
        padding-top: 1.1em;
    }
    .content-wrap,
    #section-b .card-1 {
        grid-column: 1/4;
    }
    #main-footer p {
        grid-column: span 2;
    }
    #section-b {
        display: flex;
        justify-content: space-between;
    }
    #section-c .bg-image {
        position: absolute;
        background: #333 url('table-tennis.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60%;
        z-index: -1;
        opacity: 0.4;
    }
    .card img {
        padding-top: 1%;
        display: block;
        width: 80%;
        height: 40em;
        margin-left: 19%;
        align-self: flex-end;
    }
    .card-1 img {
        padding-top: 1%;
        display: block;
        width: 80%;
        height: 40em;
        /* margin-left: 10%; */
        align-self: flex-end;
    }
    #section-b .card {
        width: 100%;
        height: 60em;
    }
    #section-b .card-1 {
        width: 100%;
        height: 60em;
        background-color: #fff;
    }
    .card {
        padding-bottom: 1.3em;
    }
    .card-1 {
        padding-bottom: 1.3em;
    }
}